.jumbotron{
	background-color: cyan;
	color: black;
    margin-top: 10px;
}

footer {
	padding: 10px 10px 0 50px;
	background-color: cyan;
	margin-bottom: 10px;
	margin-top: 20px;
}

.card-papelerias {
    flex: 1 200px;
 	margin-top: 20px;

}

.btn-comprar {
   width: 100%;
   border-radius: 0px;
}

.footer-address-icon {
   padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}
