.jumbotron {
  background-color: #ba70fa;
  color: black;
  margin-top: 20px;
  margin-bottom: 10px;
}
footer {
  padding: 10px 10px 0 50px;
  background-color: #ba70fa;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-papelerias {
  flex: 1 200px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.btn-comprar {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
