@cyan: #33fff3;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
  }

.jumbotron {
  background-color: @cyan;
  color: black;
  .margenes(20px,10px);
  }

footer {
  padding: 10px 10px 0 50px;
  background-color: @cyan;
  .margenes(10px,10px);
  }

.card-papelerias {
  flex: 1 200px;
  .margenes(20px,0px);
  }

.btn-comprar {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }