$cyan: #000003;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron{
	background-color: $cyan;
	color: black;
    @include margenes(20px,10px);
}

footer {
	padding: 10px 10px 0 50px;
	background-color: $cyan;
	@include margenes(10px,10px);
}

.card-papelerias {
    flex: 1 200px;
    @include margenes(20px,0px);

}

.btn-comprar {
   width: 100%;
   border-radius: 0px;
}

.footer-address-icon {
   padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}